div.sticky {
    word-wrap: break-word;
    width: 100%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-radius: 10px;
    background-color: yellow;
    padding: 10px, 10px, 10px, 10px;
    font-size: 20px;
    
}

div.presentacion { 
    word-wrap: break-word;
    color:black; 
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-align: center;
    border-radius: 10px;
    
}


div.info1 {
    word-wrap: break-word;
    text-align: center;
}

div.info2 { 
    word-wrap: break-word;
    
}

div.info3 { 

    word-wrap: break-word;
}

div.contacto { 
    word-wrap: break-word;
    font-family: 'Bangers', cursive;
    background-color: transparent;
    color:black;
    text-align: center;
    border-radius: 10px;
}


th, td, tr {
border: 1px solid black;
}

body {
    background-image: url(fondo.jpg);
}

h2 {
    word-wrap: break-word;
    font-size: 34px;
    color:black;
    background-color: cornsilk ;
    text-align: center;
    border-radius: 10px;
}

p {
    font-size: 17px;
    word-wrap: break-word;
    color:black;
    background-color:#dcf8c6;
    text-align: center;
    border-radius: 10px;
}

#locas {     
        margin-left: auto;
        margin-right: auto;
        transition: transform 5s;     

    }

#locas:hover {
        transform: translate(1000px, 100px);
}

